.dir {
    background-image: url('folder.png');
    background-repeat: no-repeat;
    padding-left: 40px;
    list-style-type: none;
}

.file {
    list-style-type: none;
    float: left;
    margin: 5px;
    display: block;
    width: 64px;
    height: 64px;
    overflow: hidden;
}

.file img {
    display: block;
    margin: auto;
}
